<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Trade Desk Back Office Live Clients Page Syncronization</td><td>loginPageTest.verifyLiveVlientPageLoadedByURL()[pri:0, instance:loginPage.loginPageTest@4d1c00d0]<br/></td></tr>
</table>
