<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Client_edit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da3ce">  <td>21/12/02 17:34:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginPageTest.verifyLiveVlientPageLoadedByURL()[pri:0, instance:loginPage.loginPageTest@4d1c00d0]">verifyLiveVlientPageLoadedByURL</td> 
  <td>TestNG-tests-1@1168067658</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>21/12/02 17:34:48</td>   <td>-65</td> <td>&nbsp;</td><td title="&gt;&gt;loginPageTest.start()[pri:0, instance:loginPage.loginPageTest@4d1c00d0]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1168067658</td>   <td></td> </tr>
</table>
