<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>swaglabstestingwebpage.SwagLabsTestingWebPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutOrderPage</td>
<td>Checking Out an Order </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLastNameRequiredMessage</td>
<td>Verify last Name error message </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyMissingPassewordErrorMessage</td>
<td>Login With Username Only </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySourceLabsOniesieText</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifysourceLabsBackbackText</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutPageByTitle</td>
<td>CheckOut button to procced </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNoUserNameErrorMessage</td>
<td>Login Without Credatials </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLastName</td>
<td>User Details page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutProblemUserPage</td>
<td>Problem User Check Item </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyzipcode</td>
<td>User Details page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutFirstName</td>
<td>Setting user credentials for checking out Item </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutPage</td>
<td>Compliting An Order </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySwagLabsUserNameWithLockedUsername</td>
<td>Login with Locked user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLockedUserErrorMessage</td>
<td>Login with Locked user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLiveVlientPageLoadedByURL</td>
<td>Trade Desk Landing Page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPassword</td>
<td>Login with Locked user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifysourceLabsBikeLightText</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutCompletePageByTitle</td>
<td>Completing checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFirstName</td>
<td>User Details page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTheProblemUserName</td>
<td>Problem User Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPageLoadedbyTitle</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTestAllTheThisngText</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckOutCompletePageByThankYouText</td>
<td>Completing checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySouceLabsFleeceJacketsText</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySourceLabsBoltTSshirtText</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPageLoadedbyUrl</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyProblemUserTitle</td>
<td>Checkout Problem user Item </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
