<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>CheckOut button to procced</td><td>SwagLabsTestingWebPage.verifyCheckOutPageByTitle()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Checking Out an Order</td><td>SwagLabsTestingWebPage.verifyCheckOutOrderPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Checkout Problem user Item</td><td>SwagLabsTestingWebPage.verifyProblemUserTitle()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Completing checkout</td><td>SwagLabsTestingWebPage.verifyCheckOutCompletePageByThankYouText()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyCheckOutCompletePageByTitle()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Compliting An Order</td><td>SwagLabsTestingWebPage.verifyCheckOutPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Login With Username Only</td><td>SwagLabsTestingWebPage.verifyMissingPassewordErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Login Without Credatials</td><td>SwagLabsTestingWebPage.verifyNoUserNameErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Login with Locked user</td><td>SwagLabsTestingWebPage.verifyPassword()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifySwagLabsUserNameWithLockedUsername()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyLockedUserErrorMessage()[pri:2, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Login with standard user</td><td>SwagLabsTestingWebPage.verifysourceLabsBikeLightText()[pri:3, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyTestAllTheThisngText()[pri:7, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifySouceLabsFleeceJacketsText()[pri:5, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifysourceLabsBackbackText()[pri:2, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyPageLoadedbyTitle()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifySourceLabsBoltTSshirtText()[pri:4, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyPageLoadedbyUrl()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifySourceLabsOniesieText()[pri:6, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Problem User Check Item</td><td>SwagLabsTestingWebPage.verifyCheckOutProblemUserPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Problem User Login</td><td>SwagLabsTestingWebPage.verifyTheProblemUserName()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Setting user credentials for checking out Item</td><td>SwagLabsTestingWebPage.verifyCheckOutFirstName()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Trade Desk Landing Page</td><td>SwagLabsTestingWebPage.verifyLiveVlientPageLoadedByURL()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>User Details page</td><td>SwagLabsTestingWebPage.verifyLastName()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyzipcode()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/>SwagLabsTestingWebPage.verifyFirstName()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
<tr><td>Verify last Name error message</td><td>SwagLabsTestingWebPage.verifyLastNameRequiredMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]<br/></td></tr>
</table>
