<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login_page</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutFirstName()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutFirstName</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.beforeComplitingCheckoutPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;beforeComplitingCheckoutPage</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-6418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifySwagLabsUserNameWithLockedUsername()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifySwagLabsUserNameWithLockedUsername</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.clickContinueCheckOutBtn()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;clickContinueCheckOutBtn</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:52</td>   <td>-3385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifySourceLabsBoltTSshirtText()[pri:4, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifySourceLabsBoltTSshirtText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:46</td>   <td>-9245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyNoUserNameErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyNoUserNameErrorMessage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-2481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.setUserInformation()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;setUserInformation</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-6113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.standardUserLogin()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;standardUserLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-6327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyPassword()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyPassword</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:51</td>   <td>-4645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyPageLoadedbyUrl()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyPageLoadedbyUrl</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-2687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutOrderPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutOrderPage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-2649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.checkingOutAnout()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;checkingOutAnout</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-6822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyMissingPassewordErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyMissingPassewordErrorMessage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.checkingOutAnOrderItem()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;checkingOutAnOrderItem</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:52</td>   <td>-3563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifysourceLabsBikeLightText()[pri:3, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifysourceLabsBikeLightText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-2961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyTestAllTheThisngText()[pri:7, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyTestAllTheThisngText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:56</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SwagLabsTestingWebPage.closeTheBrowserAfterTests()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&lt;&lt;closeTheBrowserAfterTests</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyzipcode()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyzipcode</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:52</td>   <td>-3194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifySouceLabsFleeceJacketsText()[pri:5, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifySouceLabsFleeceJacketsText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:46</td>   <td>-9366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.login()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:56</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.verifyLastNameUserErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;verifyLastNameUserErrorMessage</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyLastName()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyLastName</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutCompletePageByThankYouText()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutCompletePageByThankYouText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-7061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.EnterUsernameAndSubmit()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;EnterUsernameAndSubmit</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutProblemUserPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutProblemUserPage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:56</td>   <td>106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyLastNameRequiredMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyLastNameRequiredMessage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyFirstName()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyFirstName</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:51</td>   <td>-4270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyPageLoadedbyTitle()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyPageLoadedbyTitle</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:34</td>   <td>-21333</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.start(java.lang.String,java.lang.String)[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SwagLabsTestingWebPage.closeBrowser()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyProblemUserTitle()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyProblemUserTitle</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-6788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.LoginWIthLockedUswer()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;LoginWIthLockedUswer</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-1032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.beforeLoginWithProblemUser()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;beforeLoginWithProblemUser</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-3037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifySourceLabsOniesieText()[pri:6, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifySourceLabsOniesieText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-2538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutPage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutPage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.CheckOutProblemUser()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;CheckOutProblemUser</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:49</td>   <td>-6207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyLockedUserErrorMessage()[pri:2, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyLockedUserErrorMessage</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:53</td>   <td>-2885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.CheckingOutanOrder()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;CheckingOutanOrder</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:46</td>   <td>-9425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyLiveVlientPageLoadedByURL()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyLiveVlientPageLoadedByURL</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyTheProblemUserName()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyTheProblemUserName</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:52</td>   <td>-3949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifysourceLabsBackbackText()[pri:2, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifysourceLabsBackbackText</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:55</td>   <td>-107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwagLabsTestingWebPage.settingUserCredentials()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">&gt;&gt;settingUserCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutCompletePageByTitle()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutCompletePageByTitle</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>21/12/06 10:34:54</td>   <td>-1619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyCheckOutPageByTitle()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@57a3af25]">verifyCheckOutPageByTitle</td> 
  <td>main@187472540</td>   <td></td> </tr>
</table>
