<h2>Reporter output</h2><table><tr><td>=====Browser Session Started=====</td></tr>
<tr><td>=====Application Started=====</td></tr>
<tr><td>=====created succsefully=====</td></tr>
<tr><td>=====created succsefully=====</td></tr>
<tr><td>=====selected succsefully=====</td></tr>
</table>