<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>swaglabstestingwebpage.SwagLabsTestingWebPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLiveVlientPageLoadedByURL</td>
<td>Trade Desk Landing Page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPassword</td>
<td>Login with Locked user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNoUserNameErrorMessage</td>
<td>Login Without Credatials </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyMissingPassewordErrorMessage</td>
<td>Login With Username Only </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPageLoadedbyUrl</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPageLoadedbyTitle</td>
<td>Login with standard user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySwagLabsUserNameWithLockedUsername</td>
<td>Login with Locked user </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLockedUserErrorMessage</td>
<td>Login with Locked user </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
