<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Login With Username Only</td><td>SwagLabsTestingWebPage.verifyMissingPassewordErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/></td></tr>
<tr><td>Login Without Credatials</td><td>SwagLabsTestingWebPage.verifyNoUserNameErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/></td></tr>
<tr><td>Login with Locked user</td><td>SwagLabsTestingWebPage.verifyPassword()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/>SwagLabsTestingWebPage.verifySwagLabsUserNameWithLockedUsername()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/>SwagLabsTestingWebPage.verifyLockedUserErrorMessage()[pri:2, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/></td></tr>
<tr><td>Login with standard user</td><td>SwagLabsTestingWebPage.verifyPageLoadedbyTitle()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/></td></tr>
<tr><td>Trade Desk Landing Page</td><td>SwagLabsTestingWebPage.verifyLiveVlientPageLoadedByURL()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]<br/></td></tr>
</table>
