<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyMissingPassewordErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifyMissingPassewordErrorMessage</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyNoUserNameErrorMessage()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifyNoUserNameErrorMessage</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyPassword()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifyPassword</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifySwagLabsUserNameWithLockedUsername()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifySwagLabsUserNameWithLockedUsername</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyLockedUserErrorMessage()[pri:2, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifyLockedUserErrorMessage</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyPageLoadedbyTitle()[pri:1, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifyPageLoadedbyTitle</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="7362d6">  <td>21/12/04 20:13:13</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwagLabsTestingWebPage.verifyLiveVlientPageLoadedByURL()[pri:0, instance:swaglabstestingwebpage.SwagLabsTestingWebPage@37afeb11]">verifyLiveVlientPageLoadedByURL</td> 
  <td>main@1217467887</td>   <td></td> </tr>
</table>
